:root {
  --text-color: #ffffff;
  --highlight-color: #085784;
  --secondary-highlight-color: #063251f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: var(--highlight-color);
}

main {
  width: 100%;
  min-height: 90vh;
  padding: 0 9vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

header {
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 800;
  background-color: var(--highlight-color);
}

#panel {
  width: 100%;
  height: 90vh;
  border-radius: 10px;
  background-color: var(--text-color);
  
}

#toppanel {
  justify-content: space-between;
  padding: 1em 12vw;
  align-items: center;
  display: flex;
  color: var(--text-color);
  background-color: var(--secondary-highlight-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.element {
  align-items: center;
  display: flex;
}

.box {
  margin-left: 5px;
  color: var(--highlight-color);
  font-weight: 700;
  font-size: 20px;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: var(--text-color);
}

#bottompanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
}

#infopanel {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 6em;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-highlight-color);
}

span {
  font-size: 27px;
  font-weight: 800;
  color: var(--secondary-highlight-color);
}

#start {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 800;
  background-color: var(--highlight-color);
  border-radius: 20px;
  padding: 1em;
  margin: 60px auto;
}

#start:hover {
  cursor: pointer;
  background-color: var(--secondary-highlight-color);
}

#endGame {
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 800;
  background-color: var(--highlight-color);
  border-radius: 20px;
  padding: 0.5em 1em;
  min-width: 300px;
  margin: 1em auto;
}

.bubble {
  background-color: var(--secondary-highlight-color);
  border-radius: 50%;
  margin: 8px;
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
}

.bubble:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

#finalScore {
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 800;
  background-color: var(--highlight-color);
  border-radius: 20px;
  padding: 0.5em 1em;
  min-width: 300px;
  margin: 1em auto;
}

#startAgain {
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 800;
  background-color: var(--secondary-highlight-color);
  border-radius: 20px;
  padding: 0.5em 1em;
  min-width: 300px;
  margin: 1em auto;
}

#startAgain:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
}
#restartButton {
  color: var(--text-color);
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
#restartButton:hover {
  color: var(--highlight-color);
}


/* Media Quaries */

@media only screen and (max-width: 992px) {
  .bubble {
    /* width: 8vw;
    height: 8vw; */
    margin: 5px;
  }
  #panel{
    width: 80vw;
  }
  li {
    font-size: 18px;
    width: 70vw;
  }

  span {
    font-size: 25px;
  }
  
}

@media screen and (max-width: 550px) {
  .bubble {
    font-size: 25px;
    margin: 8px;
    padding: 18px;
  }
  #panel{
    width: 85vw;
  }

  li {
    font-size: 18px;
    width: 70vw;
  }

  span {
    font-size: 25px;
  }

  #toppanel {
    padding: 1px 1px;
    font-size: 12px;
  }
  .box{
    padding: 1vw;
  }
}

@media screen and (max-width: 450px) {
  .bubble {
    font-size: 25px;
    margin: 8px;
    padding: 16px;
  }
  #infopanel {
    font-size: 18px;
  }

  li {
    font-size: 14px;
  }

  span {
    font-size: 25px;
  }
  
}

@media screen and (max-width: 375px) {
  .bubble {
    font-size: 22px;
    margin: 8px;
    padding: 12px;
  }
  li {
    font-size: 14px;
  }

  span {
    font-size: 25px;
  }
  #toppanel {
    padding: 1px 1px;
    font-size: 12px;
  }
  .box{
    padding: 1vw;
  }
}
